@import "~@creativecommons/vocabulary/tokens";

h1 {
  font-size: 2.125em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.page {
  background: #e9ebee;
}

a {
  color: $color-blue-dark;

  &:hover {
    color: $color-blue-darker;
  }
}

p > em {
  font-family: 'Fira Code', Courier, monospace;
  color: $color-blue;
  font-style: normal;
  font-weight: $weight-bold;
}

a > em {
  font-family: 'Fira Code', Courier, monospace;
  font-style: normal;
  font-weight: $weight-bold;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .page_body {
    margin: 30px 15px 15px 15px !important;
  }
}
